.dragMe {
    z-index: 1;
}

.dragMe:before {
    background-image: url('./grip-vertical.svg');
    background-size: 12px 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    content: "  ";
}

#exR input,
#exR p,
#exR span {
    display: none;
}

#exL {
    position: relative;
}

#exL>img {
    height: 150px;
    opacity: 5%;
    position: absolute;
    top: 25px;
    width: 100%;
}

#exL .dragMe p {
    padding: 0;
    margin-bottom: 0;
    line-height: normal;
    color: lightslategray;
    font-size: smaller;
}

#exL .dragMe p:first-of-type {
    margin-top: 5px;
}

#exL .dragMe p:first-of-type:before {
    content: "Format: ";
}

#exL .dragMe p:nth-of-type(2n) {
    color: lightseagreen;
}

#exL .dragMe p:nth-of-type(2n):before {
    content: "From: ";
}

#bigHelpText {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#exL input:not(input[type=checkbox]) {
    width: 120px;
    margin-top: 5px;
}

.tempHide {
    display: none;
}

#exL .allDrag:after {
    font-size: smaller;
    color: lightseagreen;
    content: "From: DailyActiveJobseeker";
}